<div class="container-fluid header">
<h1 style="padding:10px">Twitt<span class="able">able</span></h1>
</div>

<div class="container-fluid new-registration main">
  <div class="row">
    <div class="col-md-4 col-md-offset-4
                col-sm-6 col-sm-offset-3
                col-xs-10 col-xs-offset-1">

        <h2 style="text-align: center">RESEND CONFIRMATION INSTRUCTIONS</h2>



      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="actions form-group">
          <%= f.submit "Resend confirmation instructions" %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>


